.w-100 {
    width: 100% !important;
    height: 55vh;
}

.navbar {
    height: 70px;
}


/*logo*/
/*https://codepen.io/ryandsouza13/pen/yEBJQV*/
.text {
    position: absolute;
    top: 50%;
    padding: 10px 0 10px 0;
    transform: translate(0,-50%);
    text-transform: uppercase;
    font-family: verdana, serif;
    font-size: 2em;
    font-weight: 500;
    color: #7f2222;
    text-shadow: 1px 1px 1px #2B2828,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #2B2828,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

a:hover {
    color: #7f2222;
}

.banner {
    width: 100%;
    height: 405px;
    background-image: url("../images/pexels-cottonbro-4621929.jpg");
    background-position-y: bottom;
}

#men {
    background-image: url("../images/pexels-tima-miroshnichenko-6766375.jpg");
}

#women {
    background-image: url("../images/pexels-cottonbro-4620610.jpg");
}

.left-col {
    background-size: cover;
    background: url("../images/pexels-andrea-piacquadio-3852974.jpg") no-repeat center;
    height: 100Vh;
}

.row-full > [class ="left-col"] {
    padding-right: 0;
    padding-left: 0;
}
#about {
    background-image: url("../images/pexels-gustavo-fring-4173273.jpg");
}

#login {
    background-image: url("../images/pexels-anete-lusina-4792070.jpg");
}
.content {
    margin: 20px 0 15px 0;
    padding: 10px 0 10px 0;

}

.nav-tabs {
    margin: 30px 0 30px 0;
}
form {
    margin: 10px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.filter {
    padding: 20px 0 20px 0;
    margin: 40px 0 10px 0;
    height: 55px;
    background-color: #f1e9e7;
}

footer {
    height: 50px;
    padding-top: 10px;
    background-color: #919191;
}

.t-card {
    margin: 10px 0 5px 0;
}